@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(210deg, #0596ff 13.4%, #5799f7 86.6%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
